In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bidi import algorithm as bidialg
import arabic_reshaper
plt.rcParams["font.family"] = "Roboto"
plt.style.use('ggplot')
%matplotlib inline

def arabic_text(utext):
    reshaped_text = arabic_reshaper.reshape(utext)
    return bidialg.get_display(reshaped_text)

In [53]:
# Load datasets from excel file
data_set_list = [
    {'df':pd.DataFrame(), 'year': '2016', 'section': 'STEM', 'ar_label': u'العلمي 2016'},
    {'df':pd.DataFrame(), 'year': '2016', 'section': 'Humanities',  'ar_label': u'الأدبي 2016'},
    {'df':pd.DataFrame(), 'year': '2017', 'section': 'STEM',  'ar_label': u'العلمي 2017'},
    {'df':pd.DataFrame(), 'year': '2017', 'section': 'Humanities',  'ar_label': u'الأدبي 2017'},
    {'df':pd.DataFrame(), 'year': '2018', 'section': 'STEM',  'ar_label': u'العلمي 2018'},
    {'df':pd.DataFrame(), 'year': '2018', 'section': 'Humanities',  'ar_label': u'الأدبي 2018'}
    ]

for data_set in data_set_list:
    data_set['df'] = pd.read_excel("sorted_data/Master_" + data_set['section'] + "_clean.xlsx", sheet_name=data_set['year'])

In [54]:
for data_set in data_set_list:
    print(data_set['ar_label'])
    print(data_set['df'][u'النسبة'].describe())
    print('')
#     display(data_set['df'].describe())

العلمي 2016
count    15903.000000
mean        83.677867
std          8.898609
min         59.130000
25%         76.700000
50%         83.600000
75%         91.110000
max         99.930000
Name: النسبة, dtype: float64

الأدبي 2016
count    12149.00000
mean        79.41655
std          7.39838
min         55.17000
25%         73.99000
50%         79.32000
75%         84.64000
max         99.61000
Name: النسبة, dtype: float64

العلمي 2017
count    15491.000000
mean        84.119422
std          8.792995
min         58.290000
25%         77.285000
50%         84.200000
75%         91.380000
max         99.940000
Name: النسبة, dtype: float64

الأدبي 2017
count    12659.000000
mean        78.935780
std          7.589221
min         57.580000
25%         73.420000
50%         78.880000
75%         84.280000
max         99.380000
Name: النسبة, dtype: float64

العلمي 2018
count    15146.000000
mean        83.557692
std          9.313089
min         58.400000
25%         76.100000
50%         83.430000
75%         91.410000
max         99.940000
Name: النسبة, dtype: float64

الأدبي 2018
count    9778.000000
mean       77.889559
std         8.078022
min        56.470000
25%        71.630000
50%        77.330000
75%        83.747500
max        99.650000
Name: النسبة, dtype: float64

             النسبة
count  15903.000000
mean      83.677867
std        8.898609
min       59.130000
25%       76.700000
50%       83.600000
75%       91.110000
max       99.930000